<div class="header-small-width">
  <h2 mat-dialog-title>{{data.bookBasics.title}}</h2>
  <div>
    <button mat-mini-fab color="primary" [disabled]="getStatusValue() !== 0"
            (click)="goToEditBook()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <div class="book-basic">
    <div class="book-image">
      <img *ngIf="data.bookBasics.image != null" [src]="'data:image/jpeg;base64,'+data.bookBasics.image"
           alt="{{ 'user-books.browse-books.image-alt' | translate}}">
      <img *ngIf="data.bookBasics.image == null" src="../../../../../assets/images/brak_obrazka.png"
           alt="{{ 'user-books.browse-books.image-alt' | translate}}">
    </div>
    <div class="book-info">
      <h2 id="book-title">{{data.bookBasics.title}}</h2>
      <div class="book-info-no-title">
        <div>
          <p><span class="description-titles">{{ 'user-books.browse-books.author' | translate}}:</span>
            {{data.bookBasics.author}}
          </p>
          <p><span class="description-titles">{{ 'user-books.browse-books.publisher' | translate}}:</span>
            {{data.bookDetails.publisher}}
          </p>
          <p><span class="description-titles">{{ 'user-books.browse-books.year' | translate}}:</span>
            {{data.bookDetails.yearOfPublication}}
          </p>
        </div>
        <br/>
        <div>
          <p>
            <span class="description-titles">Status:</span>
            <span> {{getStatusName(getStatusValue())}}</span>
          </p>
          <p><span class="description-titles">{{ 'user-books.browse-books.book-label' | translate}}:</span>
            <span> {{getLabel()}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="edit-button">
      <button mat-mini-fab color="primary" [disabled]="getStatusValue() !== 0"
              (click)="goToEditBook()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="book-details">
    <p class="description-titles">{{ 'user-books.browse-books.description' | translate}}:</p>
    {{data.bookDetails.description}}
    <br/><br/>
    <p class="description-titles">{{ 'user-books.browse-books.categories' | translate}}: </p>
    <mat-chip-list>
      <mat-chip *ngFor="let category of data.bookDetails.categories" [selectable]="true">
        {{category}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">{{ 'user-books.browse-books.close' | translate}}</button>
</div>
