<div class="content mat-elevation-z8">
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isLoggedIn">
    <h2>Szukaj książek</h2>
    <button mat-raised-button color="white" (click)="openFilter()">
      <mat-icon>filter_list</mat-icon> Filtry
    </button>
  </div>
  <p>Liczba ofert, które możesz złożyć: {{availableOffersCount}}</p>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Wymiana stała">
      <ng-template *ngTemplateOutlet="bookListTemplate; context: {$implicit: offers}"></ng-template>
    </mat-tab>
    <mat-tab label="Wypożyczenie">
      <ng-template *ngTemplateOutlet="bookListTemplate; context: {$implicit: offers}"></ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #bookListTemplate let-offers>
  <div class="offer-list">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.gt-lg="16.6%" *ngFor="let offer of offers">
        <mat-card class="clickable mat-elevation-z4" (click)="onCardClick(offer.id)" matRipple>
          <mat-card-header>
            <mat-card-title>{{offer.title}}</mat-card-title>
            <mat-card-subtitle>{{offer.author}}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="offer.image != null" mat-card-image [src]="'data:image/jpeg;base64,'+offer.image" alt="Zdjęcie okładki">
          <img *ngIf="offer.image == null" mat-card-image src="./../../../../assets/images/brak_obrazka.png" alt="Zdjęcie okładki">
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
