<div class="content mat-elevation-z8">
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isLoggedIn">
    <h2>Moje książki</h2>
    <button mat-raised-button color="white" (click)="openFilter()">
      <mat-icon>filter_list</mat-icon> Filtry
    </button>
  </div>
  <p>Liczba książek: {{bookCount}}</p>
  <hr>
  <br/>
  <div class="book-list">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.gt-lg="16.6%" *ngFor="let book of books; let i = index">
      <mat-card class="clickable mat-elevation-z4" (click)="onCardClick($event)" matRipple>
        <mat-card-header>
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="book.image != null" mat-card-image [src]="'data:image/jpeg;base64,'+book.image" alt="Zdjęcie okładki">
        <img *ngIf="book.image == null" mat-card-image src="./../assets/images/brak_obrazka.png" alt="Zdjęcie okładki">
<!--        <mat-card-content>-->
<!--          <p>-->
<!--            Tak wygląda schemat-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button mat-button><mat-icon>info_outline</mat-icon>SZCZEGÓŁY</button>-->
<!--        </mat-card-actions>-->
      </mat-card>
    </div>
  </div>
  </div>
</div>
