<mat-card class="example-card mat-elevation-z8">
  <mat-card-content>
    <form *ngIf="isLoggedIn" [formGroup]="form">
      <h2>{{formTitle}}</h2>
      <mat-form-field class="full-width-input smaller-input" appearance="outline">
        <mat-label>{{ 'user-books.add-book.title' | translate}}</mat-label>
        <input matInput formControlName="title" required>
        <mat-error>
          {{ 'user-books.add-book.title-error' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input smaller-input" appearance="outline">
        <mat-label>{{ 'user-books.add-book.author' | translate}}</mat-label>
        <input matInput formControlName="author" required>
        <mat-error>
          {{ 'user-books.add-book.author-error' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input smaller-input" appearance="outline">
        <mat-label>{{ 'user-books.add-book.publisher' | translate}}</mat-label>
        <input matInput formControlName="publisher" required>
        <mat-error>
          {{ 'user-books.add-book.publisher-error' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="smaller-input" appearance="outline">
        <mat-label>{{ 'user-books.add-book.year' | translate}}</mat-label>
        <input matInput [max]="maxDate" [matDatepicker]="dp" formControlName="yearOfPublication" required>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker [calendarHeaderComponent]="dataPickerHeader" #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
        <mat-error>
          {{ 'user-books.add-book.year-error' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input wider-input" appearance="outline">
        <mat-label>{{ 'user-books.add-book.description' | translate}}</mat-label>
        <textarea matInput #description
                  formControlName="description"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"
                  [maxlength]="255"></textarea>
        <mat-hint align="end">{{description.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-chip-list wider-input" appearance="outline">
        <mat-label>{{ 'user-books.add-book.categories' | translate}}</mat-label>
        <mat-chip-list #chipList aria-label="Category selection">
          <mat-chip
            *ngFor="let category of categories"
            [selectable]="true"
            [removable]="true"
            (removed)="remove(category)">
            {{category}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="{{ 'user-books.add-book.choose-category' | translate}}..."
            #categoryInput
            [formControl]="categoriesCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{category}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="label-and-image">
        <div>
          <input type="file" class="file-input" accept="image/*" formControlName="image"
                 (change)="onFileSelected($event)" #fileUpload>
          <mat-checkbox *ngIf="isEditBookView" [(ngModel)]="checkEditImage" [ngModelOptions]="{standalone: true}" class="example-margin">
            {{ 'user-books.add-book.image' | translate}}
          </mat-checkbox>
          <div class="file-upload">
            <button type="button" [disabled]="isEditBookView && !checkEditImage" mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
          </div>
          <p>{{fileName || ('user-books.add-book.no-file' | translate)}}</p>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'user-books.add-book.book-label' | translate}}</mat-label>
            <mat-select formControlName="label" required>
              <mat-option *ngFor="let label of labels" [value]="label.label">
                {{label.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" *ngIf="!isEditBookView" [disabled]="form.invalid" (click)="onSubmit()">
        <mat-icon>add_circle_outline</mat-icon>
        <span class="add-button">{{ 'user-books.add-book.button-add' | translate}}</span>
      </button>
      <button mat-raised-button color="primary" *ngIf="isEditBookView" [disabled]="form.invalid || !form.dirty"
              (click)="updateBook()">
        <mat-icon>update</mat-icon>
        <span class="add-button">{{ 'user-books.add-book.button-edit' | translate}}</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
