<div class="content mat-elevation-z8">
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isLoggedIn">
    <h2>{{title}}</h2>
    <div>
      <mat-form-field appearance="outline" *ngIf="currentTab === 1" class="request-status-select field-filter">
        <mat-label>Status oferty</mat-label>
        <mat-select [(ngModel)]="selectedRequestStatus" (selectionChange)="changeSelectedRequestStatus()">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let status of statuses" [value]="status.status">
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="field-filter">
        <mat-label>Typ wymiany</mat-label>
        <mat-select [(ngModel)]="bookLabel" (selectionChange)="changeBookLabel()">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let label of labels" [value]="label.label">
            {{label.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <p>Liczba ofert: {{offersCount}}</p>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Oczekujące">
      <ng-template *ngTemplateOutlet="bookListTemplate; context: {$implicit: swapRequests}"></ng-template>
    </mat-tab>
    <mat-tab label="Historyczne">
      <ng-template *ngTemplateOutlet="bookListTemplate; context: {$implicit: swapRequests}"></ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #bookListTemplate let-swapRequests>
  <div class="offer-list">
    <div fxLayout="column" fxLayoutGap="16px grid">
      <div *ngFor="let swapRequest of swapRequests">
        <mat-card class="mat-elevation-z4">
          <div class="request-info">
            <div class="swap-description">
              <mat-card-header>
                <mat-card-title>{{swapRequest.bookTitle}}</mat-card-title>
                <mat-card-subtitle>{{swapRequest.bookAuthor}}</mat-card-subtitle>
              </mat-card-header>
              <p *ngIf="isSentOffers"> <span class="description-titles">Właściciel książki:</span> {{swapRequest.owner}}</p>
              <p *ngIf="!isSentOffers"> <span class="description-titles">Zgłaszający ofertę:</span> {{swapRequest.sender}}</p>
              <p> <span class="description-titles">Typ wymiany:</span> {{getBookLabel(swapRequest.bookLabel)}}</p>
              <p> <span class="description-titles">Status książki:</span> {{getBookStatus(swapRequest.bookStatus)}}</p>
              <p class="status-chip"> <span class="description-titles">Status oferty: </span>
              <mat-chip-list>
                <mat-chip>
                  {{getRequestStatus(swapRequest.requestStatus)}}
                </mat-chip>
              </mat-chip-list>
              </p>
            </div>
            <div class="book-image">
            <img *ngIf="swapRequest.bookImage != null" mat-card-image [src]="'data:image/jpeg;base64,'+swapRequest.bookImage" alt="Zdjęcie okładki" >
            <img *ngIf="swapRequest.bookImage == null" mat-card-image src="../../../../assets/images/brak_obrazka.png" alt="Zdjęcie okładki">
            </div>
          </div>
          <mat-card-actions *ngIf="isRequestWaiting(swapRequest.requestStatus)">
            <button mat-button *ngIf="!isSentOffers" (click)="denySwapRequest(swapRequest.id)">ODRZUĆ</button>
            <button mat-raised-button color="primary" *ngIf="!isSentOffers" (click)="goToBrowseBooks(swapRequest.sender, swapRequest.bookLabel)">WYMIEŃ</button>
            <button mat-button *ngIf="isSentOffers" (click)="cancelSwapRequest(swapRequest.id)">REZYGNIUJ</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
