@media (min-width: 800px)
  .swap-info
    display: flex
    flex-direction: row
    justify-content: space-between

@media (max-width: 800px)
  .swap-info
    display: flex
    flex-direction: column
    justify-content: space-between
