@media (min-width: 1200px)
  .swap-info
    display: flex
    flex-direction: row
    justify-content: space-between
  .image-description
    display: flex
    flex-direction: row
    justify-content: center
  .book-image
    max-width: 30%

@media (max-width: 1200px)
  .swap-info
    display: flex
    flex-direction: row
    justify-content: space-between
  .image-description
    display: flex
    flex-direction: column
    justify-content: center
  .book-image
    max-width: 50%

@media (max-width: 800px)
  .swap-info
    display: flex
    flex-direction: column
    justify-content: space-between
  .image-description
    display: flex
    flex-direction: column
    justify-content: center

.book-description
  display: flex
  flex-direction: column
  justify-content: flex-start

.swap-icon
  align-self: center

.content
  padding: 50px
  width: 100%

.content > mat-card
  margin-bottom: 16px

.mat-card
  background-color: #f8f8f8
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.mat-card-actions
  text-align: end

.mat-card-image
  padding: 0 10px 0 10px

.mat-icon-button
  margin-bottom: 16px

.offer-list
  padding: 10px
  height: 810px
  overflow-y: scroll

.book-image
  margin: 10px 10px 10px 10px

.swap-description > p
  margin: 5px 16px

.book-title
  padding-left: 10px
  margin-left: 5px
  margin-bottom: 15px

.description-titles
  color: rgba(0, 0, 0, 0.54)
  font-size: 14px

img
  max-height: 150px

.request-status-select
  margin-right: 10px

.content
  max-width: 1500px
  margin-left: auto
  margin-right: auto
  vertical-align: middle

.status-chip
  display: inline-flex
  align-items: center

span
  margin-right: 5px
