<div class="header-small-width">
  <h2 mat-dialog-title>{{data.offerBasics.title}}</h2>
</div>
<div mat-dialog-content>
  <div class="book-basic">
    <div class="book-image">
      <img *ngIf="data.offerBasics.image != null" [src]="'data:image/jpeg;base64,'+data.offerBasics.image"
           alt="{{ 'book-offers.browse-offers.image-alt' | translate}}">
      <img *ngIf="data.offerBasics.image == null" src="../../../../../assets/images/brak_obrazka.png"
           alt="{{ 'book-offers.browse-offers.image-alt' | translate}}">
    </div>
    <div class="book-info">
      <h2 id="book-title">{{data.offerBasics.title}}</h2>
      <div class="book-info-no-title">
        <div>
          <p><span class="description-titles">{{ 'book-offers.browse-offers.author' | translate}}:</span>
            {{data.offerBasics.author}}
          </p>
          <p><span class="description-titles">{{ 'book-offers.browse-offers.publisher' | translate}}:</span>
            {{data.offerDetails.publisher}}
          </p>
          <p><span class="description-titles">{{ 'book-offers.browse-offers.year' | translate}}:</span>
            {{data.offerDetails.yearOfPublication}}
          </p>
        </div>
        <br/>
        <div>
          <p>
            <span class="description-titles">Status:</span>
            <span> {{getStatusName(getStatusValue())}}</span>
          </p>
          <p><span class="description-titles">{{ 'book-offers.browse-offers.book-label' | translate}}:</span>
            <span> {{getLabel()}}</span>
          </p>
          <p>
            <span class="description-titles">{{ 'book-offers.browse-offers.owner' | translate}}:</span>
            <span> {{data.offerDetails.owner}}</span>
          </p>
          <p><span class="description-titles">{{ 'book-offers.browse-offers.localization' | translate}}:</span>
            <span> {{data.offerDetails.localization}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="swap-button">
      <ng-template *ngTemplateOutlet="swapButtonsTemplate; context: {data: data, formGroup: form}"></ng-template>
    </div>
  </div>
  <div class="book-details">
    <p class="description-titles">{{ 'book-offers.browse-offers.description' | translate}}:</p>
    {{data.offerDetails.description}}
    <br/><br/>
    <p class="description-titles">{{ 'book-offers.browse-offers.categories' | translate}}: </p>
    <mat-chip-list>
      <mat-chip *ngFor="let category of data.offerDetails.categories" [selectable]="true">
        {{category}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="swap-button-small-width">
    <ng-template *ngTemplateOutlet="swapButtonsTemplate; context: {data: data, formGroup: form}"></ng-template>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="onNoClick()">{{ 'book-offers.browse-offers.close' | translate}}</button>
</div>

<ng-template #swapButtonsTemplate let-data="data" let-formGroup="formGroup">
  <form [formGroup]="formGroup">
    <span *ngIf="data.offerDetails.hasOfferFromUser">
      <button mat-raised-button color="primary"
              [disabled]="getStatusValue() !== 0 || requestAlreadySend || !data.hasBooksForSwap" (click)="sendSwap()">
        <mat-icon>swap_horiz</mat-icon> {{ 'book-offers.browse-offers.swap' | translate}}
      </button>
      <button mat-icon-button color="accent" matTooltip="{{ 'book-offers.browse-offers.swap-tooltip' | translate}">
        <mat-icon>info</mat-icon>
      </button>
      <br/><br/>
      <mat-form-field appearance="outline" >
        <mat-label>{{ 'book-offers.browse-offers.choose-swap-book' | translate}}</mat-label>
        <mat-select formControlName="requestedBooksCtrl">
          <mat-option *ngFor="let book of data.offerDetails.requestedBooks" [value]="book.id" class="multiline-mat-option">
            <div>{{book.title}}, </div>
            <div>{{book.author}}</div>
          </mat-option>
        </mat-select>
        </mat-form-field>
    </span>
    <button mat-raised-button color="primary" *ngIf="!data.offerDetails.hasOfferFromUser"
            [disabled]="getStatusValue() !== 0 || requestAlreadySend || !data.hasBooksForSwap"
            (click)="sendSwapRequest()">
      <mat-icon>send</mat-icon> {{ 'book-offers.browse-offers.send-request' | translate}}
    </button>
  </form>
</ng-template>
