<mat-card class="example-card mat-elevation-z8">
  <mat-card-content>
    <form *ngIf="!isLoggedIn" [formGroup]="form">
      <h2>Logowanie</h2>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput formControlName="username" required>
        <mat-error>
          Nazwa użytkownika jest wymagana
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          Hasło jest wymagane
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()"><mat-icon>login</mat-icon><span class="login-button">Zaloguj</span></button>
    </form>
  </mat-card-content>
</mat-card>
